@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-ex__header {
  background: #33313b;
  width: 100%;
  color: #fdc57b;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: right;
  border-bottom: 1px solid #fff;
}

.react-ex__sidebar {
  background: #fdc57b;
  padding: 0;
}

.react-ex__sidebar ul {
  list-style: none;
  padding-left: 0;
}

.react-ex__sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.react-ex__sidebar ul li a {
  color: #33313b;
  text-decoration: none;
}

.react-ex__content {
  padding-top: 30px;
}

.react-ex__footer {
  width: 100%;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  background: #eee;
  border-top: 1px solid #fff;
}

.datetime {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.countdown-box {
  text-align: center;
  margin: 0 20px;
}

.countdown-box__number {
  font-size: 50px;
  font-weight: bold;
  width: 150px;
  height: 150px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datetime__input {
  width: 250px;
}

.datetime__input:focus {
  border: 2px solid #fdc57b;
  box-shadow: none;
  outline: none;
}

.datetime__icon {
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  vertical-align: middle;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.datetime-input__display___10kTu {
  position: relative !important;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datetime-input__date___JuBJT {
  font-size: 1.5em !important;
  margin-right: 10px;
}

.todo__box-input {
  width: 300px;
  border-radius: 0;
}

.todo__box-input:focus {
  border: 2px solid #fdc57b;
  box-shadow: none;
  outline: none;
}

button:focus {
  box-shadow: none;
  outline: none;
} 

.todo__btn--add {
  height: calc(1.5em + .75rem + 2px);
  width: calc(1.5em + .75rem + 2px);
  margin-left: 7px;
  border: none;
  background: #fdc57b;
  color: #fff;
}

.todo__btn--del {
  background: transparent;
  color: #33313b;
  border: none;
}

.todo__list {
  padding-left: 0;
  list-style: none;
  margin-top: 10px;
}

.todo__list-item {
  line-height: calc(1.5em + .75rem + 2px);
  background: #eee;
  border-left: 3px solid #fdc57b;
  padding: 0 7px;
  margin-bottom: 5px;
}

/* Search youtube API */
.searchytb-list__title-name {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin-top: 7px;
}

.searchytb-list__title-channel {
  font-size: 13px;
  color: #1d1d1d;
  margin-bottom: 7px;
  display: block;
}