@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-ex__header {
  background: #33313b;
  width: 100%;
  color: #fdc57b;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: right;
  border-bottom: 1px solid #fff;
}

.react-ex__sidebar {
  background: #fdc57b;
  padding: 0;
}

.react-ex__sidebar ul {
  list-style: none;
  padding-left: 0;
}

.react-ex__sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.react-ex__sidebar ul li a {
  color: #33313b;
  text-decoration: none;
}

.react-ex__content {
  padding-top: 30px;
}

.react-ex__footer {
  width: 100%;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  background: #eee;
  border-top: 1px solid #fff;
}

.react-ex__footer p {
  margin-bottom: 0;
}

.datetime {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.countdown-box {
  text-align: center;
  margin: 0 20px;
}

.countdown-box__number {
  font-size: 50px;
  font-weight: bold;
  width: 150px;
  height: 150px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datetime__input {
  width: 250px;
}

.datetime__input:focus {
  border: 2px solid #fdc57b;
  box-shadow: none;
  outline: none;
}

.datetime__icon {
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  vertical-align: middle;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.datetime-input__display___10kTu {
  position: relative !important;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datetime-input__date___JuBJT {
  font-size: 1.5em !important;
  margin-right: 10px;
}

.todo__box-input {
  width: 300px;
  border-radius: 0;
}

.todo__box-input:focus {
  border: 2px solid #fdc57b;
  box-shadow: none;
  outline: none;
}

button:focus {
  box-shadow: none;
  outline: none;
} 

.todo__btn--add {
  height: calc(1.5em + .75rem + 2px);
  width: calc(1.5em + .75rem + 2px);
  margin-left: 7px;
  border: none;
  background: #fdc57b;
  color: #fff;
}

.todo__btn--del,
.todo__btn--edit {
  background: transparent;
  color: #33313b;
  border: none;
}

.todo__btn--del button,
.todo__btn--edit button,
.todo__btn--del .btn-sm,
.todo__btn--edit .btn-sm {

background: transparent;
    color: #000;
    border: none;
}
.todo__list {
  padding-left: 0;
  list-style: none;
  margin-top: 10px;
}

.todo__list-item {
  line-height: calc(1.5em + .75rem + 2px);
  background: #eee;
  border-left: 3px solid #fdc57b;
  padding: 0 7px;
  margin-bottom: 5px;
}

/* Search youtube API */
.searchytb-list__title-name {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin-top: 7px;
}

.searchytb-list__title-channel {
  font-size: 13px;
  color: #1d1d1d;
  margin-bottom: 7px;
  display: block;
}

.searchytb-list__text--uppercase {
  text-transform: uppercase;
}

.searchytb-list__btn-search {
  width: 80px;
  border: none;
  background: #fdc57b;
  border-radius: 4px;
  margin-left: 4px;
}


.user-management__table {
  width: 100%;
  margin: 25px 0;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #fdc57b;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); */
}
.user-management__table tr:hover {
  background: #f4f4f4;
}
.user-management__table tr:hover td {
  color: #555;
}
.user-management__table th, .user-management__table td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}
.user-management__table th {
  background: #fdc57b;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.user-management__table th.last {
  border-right: none;
}


.user-management__add input[type="text"],
.user-management__add input[type="email"],
.user-management__add input[type="tel"],
.user-management__add input[type="url"],
.user-management__add textarea,
.user-management__add button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.user-management__add {
  background: #F9F9F9;
  padding: 25px;
  margin: 0 auto;
}

.user-management__add h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.user-management__add h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

.user-management__add fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.user-management__add input[type="text"],
.user-management__add input[type="email"],
.user-management__add input[type="tel"],
.user-management__add input[type="url"],
.user-management__add textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.user-management__add input[type="text"]:hover,
.user-management__add input[type="email"]:hover,
.user-management__add input[type="tel"]:hover,
.user-management__add input[type="url"]:hover,
.user-management__add textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.user-management__add textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.user-management__add-btn {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #fdc57b;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.user-management__add button[type="submit"]:hover {
  background: #fdc57b;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.user-management__add button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.user-management__add input:focus,
.user-management__add textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.user-management__header .main-nav {
  background-color: #fdc57b;
  padding: 5px 0 5px;
  margin: 10px 0 0;
  text-align: center;
}

.user-management__header a {
  color: #fff;
}

.half-width {
  width: 50%;
}

.main-nav {
  text-align: center;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

.user-management__header li {
  display: inline-block;
  vertical-align: top;
  margin: 0 1em;
  width: 40%;
}

.user-management__header a:hover {
  color: #F6852A;
  text-decoration: none;
}

.user-management__header a:focus {
  text-decoration: none;
}

.user-management__header a.selected {
  color: #000;
}

.error-text {
  color: red;
}

.pager li {
  margin: 0 0.5em;
}